@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

*{
    font-family: Montserrat, sans-serif;
}

@mixin titulos ($color-txt, $tamanio){
    color: $color-txt;
    font-size: $tamanio;
} 
    
h1{
    @include titulos ($col-white, 3.125em);
    font-style: normal;
    font-weight: bold;
}

h2 {
    @include titulos($col-pink, 2.5em);
    font-style: normal;
    padding: 0.5em;
    text-align: center;
}

h3 {
	@include titulos($col-pink, 1.8em);
    padding: 0.7em;
    text-align: center;
    margin-bottom: .5em;
}

h4{
    @include titulos($col-pink, 1.25em);
}

a{
    font-size: 0.93em;
}

.span-block{
    display: block;
    text-align: center;
    color: $col-pink-v-light;
    font-size: .5em;
    font-style: italic;
    margin: 1em;
    padding-bottom: 0.5em;
}

/* SOBRE MI */
.titulo-perfil{
    color: $col-brown;
    padding: 0em;
    margin-bottom: 0.5em;
    text-align: left;
}
.txt-perfil{
    color: $col-brown;
    font-size: 1.37em;
    font-style: oblique;
    text-align: justify;
    line-height: 1.7;
}

/* MENU */
.card-text-info{
    font-size: 0.7em;
}

/* FOOTER */
.copyright{
    font-size: 0.62em;
    margin: 0.5em;
}

/* ERROR */
#error404{
    font-size: 45px;
    padding: 0.2em;
    font-weight: bold;
}