
    /* -------- COLORES -------- */
	$col-yellow: #f9f871;
	$col-pink: #de5398;
	$col-pink-light: #eda8c5;
	$col-pink-v-light: #FFE4F7;
	$col-pink-ve-light: #F4E7F8;
	$col-brown: #554149;
	$col-white: #fafafa;
	$col-fondo-transp: rgba(1, 1, 1, 0.3)
    


