
.contacto{
    background: url("../multimedia/contacto.jpg") no-repeat center/cover;
    min-height: 500px;
    align-content: center;
    h2{
        color: $col-pink-v-light;
    }
    &-section{
        margin: 0 auto;
        margin-top: 1em;
        max-width: 550px;
        background: $col-fondo-transp;
     }
}


.contacto-cont-ing{
    color: $col-brown;
    font-size: 17px;
    margin: 0.2em;
    align-items: center;
    width: 100%;

    .check{
        display: flex;
    justify-content: center;
    align-content: center;

    #checknewsletter{
        margin: 0.5em;
    }
    }

}

.boton{
    text-align: center;
}