.error{
    background: url("../multimedia/error404_2.jpeg") no-repeat center/cover;
    min-height: 100%;
	width: 100%;
    .error-section{
        display: flex;
        flex-flow: column;
        place-content: center;
        align-items: center;
        margin: 0 auto;
        margin-top: 1em;
        margin-bottom: 1em;
        max-width: 900px;
        min-height: 95%;
        background: $col-fondo-transp-error;
        .error-img{
            text-align: center;
            font-size: 160px;
            color: $col-pink-v-light;
            padding: 0.1em;
        }
        .error-txt{
            color: $col-white;
            text-align: center;
            padding: 0.5em;
            margin-bottom: 0.8em;
            font-size: 22px;
        }
    
    }
}   