footer{
    display: flex;
    flex-flow: column-reverse;
    background-color: $col-yellow;
    color: $col-pink;
    align-items: center;
    gap: 1em;
    padding: 1em;

    address{
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: center;
        gap: 1em;

        .mapa{
            width: 150px;
            height: 100px;
        }
    }

    .newsletter{
        form{
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
            gap: 0.3em;
        }
        h4{
            text-align: center;
        } 
    }

    .redes{
        list-style-type: none;
        display: flex;
        justify-items: center;
        justify-content: center;
        gap: 1em;
        padding: 0.4em;

        &-icono{
            color: $col-pink;
            align-items: center;
        }
    }
}

@media only screen and (min-width: 700px){
    footer{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between; 
        padding: 1em;       
    }
}

@media only screen and (min-width: 800px){
    footer{
        padding-left: 3%;
        padding-right: 3%;
    }
}


