
.boton-index{
    text-decoration: none;
    padding: 10px;
    font-weight: 300;
    font-size: 18px;
    color: $col-pink;
    background-color: $col-pink-ve-light;
    border-radius: 6px;
    border: 2px solid $col-pink-light;
}

.boton-newsletter{
    @extend .boton-index;
    padding: 2px;
    color: $col-yellow;
    background-color: $col-pink;
    border: 2px solid $col-pink;
    &:hover{
        transform:scaleX(1.03);
    }
}

.boton-contacto{
    @extend .boton-index;
    font-size: 22px;
    color: $col-pink;
    background-color: $col-yellow;
    border: 2px solid $col-pink;
    padding: 11px;
    margin: 0.5px;
    &:hover{
        transform:scale(1.1);
    }
}

.boton-error{
    @extend .boton-index;
    color: $col-pink;
    background-color: $col-pink-v-light;
    border: 2px solid $col-pink-v-light;
    min-width: 100px;
    margin: 0.5em;
    padding: 0.5em;

}

