input, select, option, textarea{
    padding: 0.7em;
    border: none;
    background: $col-pink-v-light;
    color: $col-brown;
    resize: none;
    border-radius: 0.3em;
    width:inherit;

}

textarea{
    min-height: 120px;
}


.contacto-cont{
    display: flex;
    flex-flow: column nowrap;
    max-width: 450px;
    margin: 0 auto;
    justify-content: center;
    align-items:flex-start;
    margin-bottom: 1em;
    padding: 1.5em;
    
    
    label{
        margin-bottom: 0.3em;
        color: $col-white;
        }
    input, select, textarea{
        margin-bottom: 1em;
        }
    
    }






